@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; //impede que o texto quebre em várias linhas

    &--primary{
        background-color: variables.$pink1;
        color: variables.$textColor;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; // 👉 centraliza horizontalmente
    }

    @media (max-width: 1024px){
        display: flex;
        align-items: center;
        justify-content: center; // 👉 centraliza horizontalmente
    }
}