//A pasta components contém todos os componentes reutilizáveis do projeto, ou seja, botoes, barras de informação e itens que tem
//alguma coisa especifica picotada
.infos-bar{ //chama a classe infos-bar, que foi criada no html
    padding: 16px 24px; //espaçamento interno
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 32px;

    &__infos{ //correponde a esse class="infos-bar__infos"
        display: flex;
        gap: 40px;

        &__item{ //correponde a <li class="infos-bar__info__item">
            font-size: 14px;
            color: #000;

            b{
                color: #000;
                font-size: 18px;
                display: block; //faz o elemento se comportar como um bloco, ou seja, ocupando toda a linha
            }
        }
    }

    @media (max-width: 640px){
        display: block;

        &__infos{
            display: block;
        }
    }

    @media (max-width: 1024px){
        &__infos{
            gap: 16px;
        }
    }
}